{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">

                    <!-- Input test mode -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ entry_test }}</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                {% if payment_monri_test %}
                                    <input type="radio" name="payment_monri_test" value="1" checked="checked" />
                                    {{ text_yes }}
                                {% else %}
                                    <input type="radio" name="payment_monri_test" value="1" />
                                    {{ text_yes }}
                                {% endif %}
                            </label>
                            <label class="radio-inline">
                                {% if not payment_monri_test %}
                                    <input type="radio" name="payment_monri_test" value="0" checked="checked" />
                                    {{ text_no }}
                                {% else %}
                                    <input type="radio" name="payment_monri_test" value="0" />
                                    {{ text_no }}
                                {% endif %}
                            </label>
                        </div>
                    </div>

                    <!-- Input Enable/Disable module -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_monri_status" id="input-status" class="form-control">
                                {% if payment_monri_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <!-- Input Monri key -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-monri-key"><span data-toggle="tooltip" title="{{ help_monri_key }}">{{ entry_profile_id }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_monri_key" value="{{ payment_monri_key }}" placeholder="{{ payment_monri_palceholder_key }}" id="input-monri-key" class="form-control" />
                            {% if error_payment_monri_key %}
                                <div class="text-danger">{{ error_payment_monri_key }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Input Monri Secret Key -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-secret-key"><span data-toggle="tooltip" title="{{ help_monri_secret_key }}">{{ entry_secret_key }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_monri_secret_key" value="{{ payment_monri_secret_key }}" placeholder="{{ payment_monri_palceholder_secret_key }}" id="input-secret-key" class="form-control" />
                            {% if error_secret_key %}
                                <div class="text-danger">{{ error_secret_key }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Input payment processor -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_payment_processor }}</label>
                        <div class="col-sm-10">
                            <select name="payment_monri_processor" id="input-monri-processor" class="form-control">
                                {% if payment_monri_processor == 'webteh' %}
                                    <option value="webteh" selected="selected">{{ payment_monri_processor_hr }}</option>
                                    <option value="monri">{{ payment_monri_processor_ba }}</option>
                                {% else %}
                                    <option value="webteh">{{ payment_monri_processor_hr }}</option>
                                    <option value="monri" selected="selected">{{ payment_monri_processor_ba }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <!-- Input payment autorizacija  -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-transaction-type">{{ entry_payment_transaction_type }}</label>
                        <div class="col-sm-10">
                            <select name="payment_monri_transaction_type" id="input-monri-transaction-type" class="form-control">
                                {% if payment_monri_transaction_type == 'purchase' %}
                                    <option value="purchase" selected="selected">{{ payment_monri_transaction_purchase }}</option>
                                    <option value="authorize">{{ payment_monri_transaction_authorize }}</option>
                                {% else %}
                                    <option value="purchase">{{ payment_monri_transaction_purchase }}</option>
                                    <option value="authorize" selected="selected">{{ payment_monri_transaction_authorize }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <!-- Input odabir jezika -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-language">{{ entry_language }}</label>
                        <div class="col-sm-10">
                            <select name="payment_monri_language" id="input-monri-language" class="form-control">
                                {% if payment_monri_language == 'en' %}
                                    <option value="en" selected="selected">{{ entry_language_en }}</option>
                                    <option value="hr">{{ entry_language_hr }}</option>
                                    <option value="ba">{{ entry_language_ba }}</option>
                                {% elseif payment_monri_language == 'hr' %}
                                    <option value="en">{{ entry_language_en }}</option>
                                    <option value="hr" selected="selected">{{ entry_language_hr }}</option>
                                    <option value="ba">{{ entry_language_ba }}</option>
                                {% else %}
                                    <option value="en">{{ entry_language_en }}</option>
                                    <option value="hr">{{ entry_language_hr }}</option>
                                    <option value="ba" selected="selected">{{ entry_language_ba }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <!-- Success i Fail linkovi  -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-language"></label>
                        <div class="col-sm-10">
                            <h4><b>"Success URL" and "Fail URL" copy to Monri API settings.</b></h4>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-language">{{ entry_success_url }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_monri_success_url" value="{{ success_url }}" id="input-success-url" class="form-control" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-language">{{ entry_fail_url }}</label>
                        <div class="col-sm-10">
                            <input type="reado" name="payment_monri_success_url" value="{{ fail_url }}" id="input-success-url" class="form-control" readonly/>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
{{ footer }}